<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Pdf</title>
</head>
<body>
<h1 align="center">CERN ALICE</h1>
<div align="center">
<br>
<br>
<div style="width:90%; padding: 2px; margin-left:5%;">
<h2 align="center">Bug report</h2>
<p style="text-align:justify; font-size: 20px;"> <%= bugReport %> </p>
</div>
<div style="width: 40%;margin-left: 5%">
<br>
<br>
<p align="left" style="font-size:15px"> Occupation: <%= occupation%></p>
<p align="left" style="font-size:15px"><%= firstname%> <%=lastname%></p>
<p align="left" style="font-size:15px"> Signature <hr size="1px" color="black" style="width:40%; float:left;"></p>
<p align="left" style="font-size:15px; clear:both;"> <%=date%></p>
</div>
</body>
</html>
